# Environments and Virtual Envs
backend/venv/
.venv/
env/
venv/
ENV/
venv.bak/

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Frontend dependency directories
node_modules/
frontend/node_modules/
dist/
frontend/dist/
.eslintcache

# Env configuration files
.env
.env.local
.env.*.local

# IDEs and OS files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
db.sqlite3
